div{
	height: 700px;
	width: 400px;
	border: 2px solid #8299ab;
	padding: 16px;
	margin:16px;
	position: relative;
	font-weight: bold;

	}
h1{
	text-align: center;
	color: white;
	background: linear-gradient(to right, #00cb93,#0081ea);
	margin: 0;
	height: 60px;
	padding: 16px

}
h2{ 
	color: blue;
	padding: 16px;
	margin:0;
	padding: 16px;
	font-family: 'Roboto', sans-serif;

}
p{
	color: #8299ab;
	padding:  0px 10px;
	margin:0;
	font-family: 'Fira Sans', sans-serif;
}
button{
	background-color: #ddecf6;
	border: 1px solid #ddecf6;
	color :blue;
	padding: 10px;
	margin:5px;
}
.control{
	background-color: #0083ff;
	border: 1px solid #0083ff;
	color:white;
	padding: 16px;
	border-radius: 3px;
	margin: 10px;
	width: 200px
}
content{
	color: #e8b900;
	padding: 5px;
}
rp{
	padding: 5px;
	color: #00b364;
}
.code{
	
	 color: #8299ab;
    font-style: italic

}